 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MSc in Computational Design</h4>
    <h5 class="meta">Carnegie Mellon University</h5>
    <div class="time">2016 - 2018(Expected)</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Bachelor in Architecture</h4>
    <h5 class="meta">Tsinghua University</h5>
    <div class="time">2011 - 2016</div>
</div><!--//item-->
</div><!--//education-container-->