<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer Intern </h3>
                            <div class="time">05/2017 - 08/2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Infrastructure Service Team, Alibaba Group, Beijing </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Implemented dynamic routing mechanism for ElasticSearch (an open-source distributed RESTful search engine) to solve hotspot problem on 11.11 promotion day, reduced index latency of big sellers by 80%.</p>  
                        <p>Embedded a customized script engine in Lucene, boosted performance by 15% compared to general script query.</p>
                        <p>Designed a configurable and extendable monitoring platform in Python for ElasticSearch cluster states.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Engineer Intern </h3>
                            <div class="time">09/2015 - 04/2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Lab for Big Data and Architecture, Tsinghua University, Beijing</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Acquired and ETLed two months’ data of customer and staff through wireless AP in a large shopping mall.</p>
                        <p>Built a MySQL based backend service to collect logs from wireless AP in real-time.</p>  
                        <p>Designed and implemented a Logistic Regression approach with Stochastic Gradient Descent to classify customer and staff using the SciPy library.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Director of Graphics</h3>
                            <div class="time">09/2014 – 08/2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Supernova Studio, Changchun, China</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Co-created Expedition, a Chinese style role-playing game of 20+ hours in playing time, sponsored by Sohu ChangYou.com. Responsible for character and scene design.</p>  
                        <p>Co-created Legends of School, A multi-player simulator of an original board game. Designed and implemented GUI with QT library in C++. The game was released as an independent game and reported by Changchun TV.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->