<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Thesis and cource projects</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#">Twitter Analytics</a></span> - <span class="project-tagline">A high performance web service for Twitter analytics. </span>
                    <p><i>Team ranked TOP10 in the final phase of CMU Spring 2017 Cloud Computing course.</i></p>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Eggzie3D</a></span> - 
                    <span class="project-tagline">A 3D software package for rasterization, ray-tracing and animation.</span>
                    <p><i>Selected as "TOP10 Cool Student Projects" in CMU Fall 2016 Computer Graphics course.</i></p>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://youtu.be/IkcDQE6ESUI" target="_blank">House of Vine</a></span> - <span class="project-tagline"> A synchronized multi-robot system for construction.</span>
                    <p><i>Awarded Tsinghua University Outstanding Undergraduate Thesis.</i></p>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Expedition</a></span> - <span class="project-tagline"> A Chinese style role-playing game of 20+ hours in playing time, sponsored by Sohu ChangYou.com.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Legends of School</a></span> - <span class="project-tagline"> A multi-player simulator of an original board game.</span>
                </div><!--//item-->
            </section><!--//section-->