<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Thesis and cource projects</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Twitter Analytics</a></span> - <span class="project-tagline">A high performance web service for Twitter analytics. Team ranked TOP10 in the final phase of CMU Spring 2017 Cloud Computing course.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Eggzie3D</a></span> - 
                    <span class="project-tagline">A 3D software package for rasterization, ray-tracing and animation. Selected as "TOP10 Cool Student Projects" in CMU Fall 2016 Computer Graphics course.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://youtu.be/IkcDQE6ESUI" target="_blank">Vine</a></span> - <span class="project-tagline"> A synchronized multi-robot system for construction. Awarded Tsinghua University Outstanding Undergraduate Thesis.</span>
                </div><!--//item-->
            </section><!--//section-->